// vars

$basic-color: #666666;
$accent-color: #FA1B5E;
$complementary-color: #FA6693;
$side-padding: 40px;

// typography

h1,
label,
legend {
  font-family: 'Satisfy';
}

h1 {
  color: $basic-color;
  font-size: 32px;
  text-align: center;
  margin: 0 0 10px;
}

p {
  font-family: 'Arial', 'sans-serif';
  color: $basic-color;
  font-size: 14px;
  text-align: center;
  margin: 0;
  line-height: 150%;
}

label, legend {
  color: $basic-color;
  display: block;
  font-size: 18px;
  margin-top: 20px;
}

label:first-child {
  margin-top: 30px;
}

body > div {
  background-color: white;
  width: 640px;
  margin: 60px auto 30px;
  padding: 40px $side-padding;
  box-sizing: border-box;
  box-shadow: 0px 8px 40px $basic-color;
}

body {
  background-image: url('bg.png');
}

input:not([type='radio']),
select,
textarea {
  border-color: $basic-color;
  border-width: 1px;
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
}

fieldset {
  border: 0;
  margin: 20px 0 0;
  padding: 0;

  > label {
    display: inline;
  }
}

button {
  width: 50%;
  height: 50px;
  border: 0;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  font-size: 18px;
}

.submit {
  background-color: $accent-color;
  border-radius: 10px 0px 10px 0px;
}

.reset {
  background-color: $basic-color;
  border-radius: 0px 10px 0px 10px;
}

.fields {
  border: 2px $complementary-color dotted;
  border-left: 0;
  border-right: 0;
  margin: 30px $side-padding*-1;
  padding: 0 $side-padding 30px;
}

span {
  color: $accent-color;
  font-weight: bold;
}

.buttons {
  font-size: 0;
}
